html {
  font-size: 60, 5%;
}

header img {
  width: 70%;
  margin-left: 15%;
}

.cabecalho td {
  border: none;
}

.barraTexto {
  display: flex;
  border-top: #000000 solid 2px;
  border-bottom: #000000 solid 2px;
  margin-bottom: 20px;
  margin: 0 4mm 20px 4mm;
}

.dataAtual,
.anoBase,
.dataAtual2 {
  margin: 0;
  padding: 5px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.dataAtual,
.dataAtual2 {
  text-align: left;
}

.numberExtra {
  width: 300px;
  margin: 0;
  padding: 5px;
  /* Número xx - Edição Extra */
}

.logo-bar {
  height: 210px;
}

.logo-bar .logo {
  width: 100%;
}

.margem-eventos {
  margin: 0 4mm;
}

 

.number {
  margin: 0;
  width: 15%;
  padding: 5px;
}

.dateNumber {
  display: flex;
  background-color: #000;
  color: #ffffff;
  width: 100%;
}

.anoBase {
  width: 25%;
  text-align: center;
  background-color: #d5d3d3;
}

.dataAtual,
.dataAtual2 {
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  padding-left: 50px;
}

.container {
  -webkit-column-count: 3;
  column-count: 3;
  column-gap: 30px;
  column-rule: 2px solid #434444;
  margin: 0 4mm 0 4mm;
}

.container2 {
  -webkit-column-count: 3;
  column-count: 2;
  column-gap: 30px;
  column-rule: 2px solid #434444;
}

.fontReduzida {
  font-size: 1.2rem;
}

h1 {
  white-space: nowrap;
  border-top: #d5d3d3 solid 10px;
  margin-right: 70%;
}

h2 {
  color: #6c6e6e;
}

h3 {
  text-decoration: underline;
}

a:visited {
  color: #0000ff;
}

p {
  white-space: wrap;
  overflow: hidden;
  text-align: justify;
}

.mail a {
  font-size: 12px;
}

a {
  white-space: wrap;
  font-size: 15px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

table td {
  border: 1px #000 solid;
  padding: 0%;
}

.unidade {
  text-transform: uppercase;
}

td p,
th p {
  text-align: center;
}

@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}

/* contatos style */

.containerContatos {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: #000000 1px solid;
  margin: 0 4mm;
}

.titulo {
  background-color: #b8b8b8;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  border-bottom: #000000 1px solid;
}

.cards {
  background-color: #dcdcdc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
  padding: 15px 10px;
  text-align: start;
}

.card {
  margin: 15px 5px;
  width: 30%;
}

.logo {
  position: absolute;
  right: 0;
}

.card a,
.card a:hover,
.card a:visited {
  color: #000000;
  text-decoration: none;
}

.card p {
  margin: 0;
}

.bolder {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.bolder2 {
  font-weight: 700;
  font-size: 9.3pt;
  font-family: Arial, Helvetica, sans-serif;
}

.spacerEX {
  padding-top: 3pt;
}

.subprefeituras {
  padding: 15px 30px;
}

.subprefeituras .card {
  width: 30%;
}

/* sumário style */

.containerSumario {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: #000000 1px solid;
  margin: 0 4mm;
}

.listaPaginas {
  column-count: 2;
  column-rule: 1px solid #434444;
  background-color: #dcdcdc;
  padding: 5px;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

.d-flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.dots {
  width: 100%;
  height: 0px;
  align-self: flex-end;
  border-bottom: 2px dotted;
}

.expediente__titular,
.expediente__endereco,
.expediente__telefone,
.expediente__email {
  display: none;
}

.alinhar-sumario {
  text-align: center;
}

.font-sumario {
  font-size: 11px;
}

.sigpec {
  width: 25%;
}

.diminuir-texto {
  font-size: 15px;
}

li a{
  color: black;
  font-size: 11px;
}




/* Primeira página */
@page :first {
  size: A3 portrait;
  margin: 0mm 4mm 15mm 4mm;

  @top-left {
    content: "";
  }

  @top-center {
    content: "";
  }

  @top-right {
    content: "";
  }
}

/* Páginas restantes */
@page {
  size: A3 portrait;
  margin: 15mm 4mm;

  /* Cabeçalho */
  @top-left {
    content: counter(page) " – São Paulo, 70 (edição)";
    font-family: "Segoe UI", sans-serif;
    font-size: 10pt;
  }

  @top-center {
    content: "Diário Oficial de São Paulo";
    font-family: "Segoe UI", sans-serif;
    font-size: 12pt;
  }

  @top-right {
    content: "segunda-feira, 20 de outubro de 2025";
    font-family: "Segoe UI", sans-serif;
    font-size: 10pt;
  }
}

/* Sumário pontilhado */
.containerSumario .listaPaginas a::after {
  content: leader('.') target-counter(attr(href), page);
  color: #333;
}